/XWS-REST/nbproject/private/
/XWS-SOAP/bin/
/XWS-SOPA-CB/bin/
/XWS-REST/.classpath
/XWS-SOAP/.classpath
/XWS-SOAP/.project
/XWS-SOAP/ant.properties
/XWS-SOAP-CB/.classpath
/XWS-SOAP-CB/.project
/XWS-SOAP-CB/ant.properties