<div>
	<form>
		<div class="form-group">
			<label >supplier name:</label>
			<input class="form-control" ng-model="invoice.zaglavljeFakture.dobavljac.naziv"></input>
		</div>
		<div class="form-group">
			<label>supplier address:</label>
			<input class="form-control" ng-model="invoice.zaglavljeFakture.dobavljac.adresa"></input>
		</div>
		<div class="form-group">
			<label>supplier pib:</label>
			<input class="form-control" ng-model="invoice.zaglavljeFakture.dobavljac.pib"></input>
		</div>
		<div class="form-group">
			<label>buyer name:</label>
			<input class="form-control" ng-model="invoice.zaglavljeFakture.kupac.naziv"></input>
		</div>
		<div class="form-group">
			<label>buyer address:</label>
			<input class="form-control" ng-model="invoice.zaglavljeFakture.kupac.adresa"></input>
		</div>
		<div class="form-group">
			<label>account number:</label>
			<input class="form-control" ng-model="invoice.zaglavljeFakture.racun.brojRacuna"></input>
		</div>
		<div class="form-group">
			<label>date:</label>
			<div class="input-group">
				<input type="text" class="form-control" datepicker-popup="dd.MM.yyyy." ng-model="invoice.zaglavljeFakture.racun.datumRacuna" is-open="dateOpened" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'dateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label >total goods value:</label>
			<input class="form-control" ng-model="invoice.zaglavljeFakture.vrednostRobe"></input>
		</div>
		<div class="form-group">
			<label>total service value:</label>
			<input class="form-control" ng-model="invoice.zaglavljeFakture.vrednostUsluga"></input>
		</div>
		<div class="form-group">
			<label>total value:</label>
			<input class="form-control" ng-model="invoice.zaglavljeFakture.ukupnoRobaIUsluge"></input>
		</div>
		<div class="form-group">
			<label>total rabate:</label>
			<input class="form-control" ng-model="invoice.zaglavljeFakture.ukupnoRabat"></input>
		</div>
		<div class="form-group">
			<label>total tax:</label>
			<input class="form-control" ng-model="invoice.zaglavljeFakture.ukupnoPorez"></input>
		</div>
		<div class="form-group">
			<label>currency:</label>
			<input class="form-control" ng-model="invoice.zaglavljeFakture.oznakaValute"></input>
		</div>
		<div class="form-group">
			<label>receiving account:</label>
			<input class="form-control" ng-model="invoice.zaglavljeFakture.uplataNaRacun"></input>
		</div>
		<div class="form-group">
			<label>total amount:</label>
			<input class="form-control" ng-model="invoice.zaglavljeFakture.iznosZaUplatu"></input>
		</div>
		<div class="form-group">
			<label>currency date:</label>
			<div class="input-group">
				<input type="text" class="form-control" datepicker-popup="dd.MM.yyyy." ng-model="invoice.zaglavljeFakture.datumValute" is-open="currencyDateOpened" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'currencyDateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label>items:</label>
			<table class="table table-striped table-bordered table-condensed table-hover">
				<tr>
					<th>goods name</th>
					<th>quantity</th>
					<th>price</th>
				</tr>
				<tr ng-repeat="item in invoice.stavkaFakture" ng-click="openModal(item)">
					<td>{{item.nazivRobeUsluge}}</td>
					<td>{{item.kolicina}} {{item.jedinicaMere}}</td>
					<td>{{item.vrednost}}</td>
				</tr>
			</table>
		</div>
		<div class="form-group">
			<button class="btn btn-default" ng-click="openModal()">new</button>
		</div>
	</form>
</div>
<div>
    <button class="btn" ng-click="save()">save</button>
    <button class="btn" ng-click="delete()">delete</button>
</div>